In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import sklearn

In [7]:
#dn = pd.read_csv("/Users/macbook/Downloads/glc_insulin_dischargenotes_df.csv")
d_icd = pd.read_csv("DIAGNOSES_ICD.csv")

#d_icd_d = pd.read_csv("/Users/macbook/Downloads/D_ICD_DIAGNOSES.csv")

In [9]:
d_icd

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

In [23]:
ICD_9_Codes = ["25001", "25003", "25011", "25013", "25021", "25023", "25031", "25033", "25041", "25043", "25051", "25053", "25061", "25063", "25071", "25073", "25081", "25083", "25091", "25093"]

In [27]:
d_icd = d_icd[d_icd['ICD9_CODE'].isin(ICD_9_Codes)]

In [30]:
subject_ID_all = d_icd['SUBJECT_ID'].to_numpy()
len(np.unique(subject_ID_all))

998

In [31]:
arr = [  402,   671,  1900,  2045,  2298,  2667,  2830,  3084,  3952,
        4308,  4588,  4962,  5453,  6179,  6534,  7299,  7809,  8799,
       10954, 11229, 11242, 11421, 11861, 12008, 12709, 13330, 13401,
       13731, 14131, 15122, 15485, 18187, 18711, 20133, 20479, 21399,
       21613, 21819, 21955, 23039, 23197, 23657, 23687, 25317, 25329,
       25876, 25941, 26759, 26901, 26996, 27205, 27210, 27398, 27616,
       27643, 27694, 27809, 27863, 27905, 28067, 28192, 28880, 28941,
       28960, 29411, 29541, 29558, 29650, 29968, 30239, 30707, 30789,
       30962, 31112, 31198, 32195, 32677, 32797, 40216, 40560, 40586,
       41724, 41782, 41982, 42155, 42211, 42217, 42288, 42776, 42920,
       43047, 43061, 43274, 43724, 43982, 43983, 44166, 44342, 44377,
       45277, 45521, 45772, 45783, 45974, 46340, 46415, 46429, 46498,
       46588, 46776, 47247, 47272, 47287, 47956, 48064, 48327, 48340,
       48986, 49603, 49638, 49778, 51025, 51078, 51484, 51545, 52370,
       52967, 53897, 54005, 54806, 55573, 55700, 55725, 55973, 56405,
       57139, 57550, 58031, 58163, 58337, 58526, 59246, 59494, 59687,
       59742, 59848, 60807, 61551, 61711, 61949, 62204, 62681, 62693,
       63098, 63734, 63961, 64153, 64911, 65154, 65887, 65949, 65950,
       66109, 66765, 66898, 67393, 67934, 68035, 68401, 68602, 68949,
       69208, 69371, 69518, 69577, 69624, 70077, 70355, 70382, 70386,
       70473, 70499, 70508, 70516, 70899, 71364, 71536, 71880, 72407,
       72795, 72819, 73038, 73339, 73395, 73582, 73874, 74319, 74364,
       74529, 74851, 75496, 75507, 75919, 76118, 76558, 76594, 77099,
       77787, 77892, 78536, 78902, 79132, 79365, 79915, 79931, 80281,
       80536, 80606, 81193, 81236, 81602, 81848, 82023, 82079, 82189,
       82512, 82598, 83079, 83099, 83156, 83564, 84874, 85397, 85517,
       86754, 86948, 87160, 87708, 87823, 88099, 88265, 88594, 88773,
       89205, 89292, 89369, 89799, 90302, 90436, 90884, 91017, 91249,
       92379, 92407, 92800, 93039, 93089, 93203, 93638, 94762, 94937,
       94956, 95339, 95599, 96040, 96260, 96686, 96920, 97345, 97539,
       98103, 98220, 98438, 98749, 98899, 99096, 99260, 99650, 99928]

In [32]:
arr

[402,
 671,
 1900,
 2045,
 2298,
 2667,
 2830,
 3084,
 3952,
 4308,
 4588,
 4962,
 5453,
 6179,
 6534,
 7299,
 7809,
 8799,
 10954,
 11229,
 11242,
 11421,
 11861,
 12008,
 12709,
 13330,
 13401,
 13731,
 14131,
 15122,
 15485,
 18187,
 18711,
 20133,
 20479,
 21399,
 21613,
 21819,
 21955,
 23039,
 23197,
 23657,
 23687,
 25317,
 25329,
 25876,
 25941,
 26759,
 26901,
 26996,
 27205,
 27210,
 27398,
 27616,
 27643,
 27694,
 27809,
 27863,
 27905,
 28067,
 28192,
 28880,
 28941,
 28960,
 29411,
 29541,
 29558,
 29650,
 29968,
 30239,
 30707,
 30789,
 30962,
 31112,
 31198,
 32195,
 32677,
 32797,
 40216,
 40560,
 40586,
 41724,
 41782,
 41982,
 42155,
 42211,
 42217,
 42288,
 42776,
 42920,
 43047,
 43061,
 43274,
 43724,
 43982,
 43983,
 44166,
 44342,
 44377,
 45277,
 45521,
 45772,
 45783,
 45974,
 46340,
 46415,
 46429,
 46498,
 46588,
 46776,
 47247,
 47272,
 47287,
 47956,
 48064,
 48327,
 48340,
 48986,
 49603,
 49638,
 49778,
 51025,
 51078,
 51484,
 51545,
 52370,
 52967,
 53897,
 54005,
 54806,
 55573,
 55700,
 55725,
 55973,
 56405,
 57139,
 57550,
 58031,
 58163,
 58337,
 58526,
 59246,
 59494,
 59687,
 59742,
 59848,
 60807,
 61551,
 61711,
 61949,
 62204,
 62681,
 62693,
 63098,
 63734,
 63961,
 64153,
 64911,
 65154,
 65887,
 65949,
 65950,
 66109,
 66765,
 66898,
 67393,
 67934,
 68035,
 68401,
 68602,
 68949,
 69208,
 69371,
 69518,
 69577,
 69624,
 70077,
 70355,
 70382,
 70386,
 70473,
 70499,
 70508,
 70516,
 70899,
 71364,
 71536,
 71880,
 72407,
 72795,
 72819,
 73038,
 73339,
 73395,
 73582,
 73874,
 74319,
 74364,
 74529,
 74851,
 75496,
 75507,
 75919,
 76118,
 76558,
 76594,
 77099,
 77787,
 77892,
 78536,
 78902,
 79132,
 79365,
 79915,
 79931,
 80281,
 80536,
 80606,
 81193,
 81236,
 81602,
 81848,
 82023,
 82079,
 82189,
 82512,
 82598,
 83079,
 83099,
 83156,
 83564,
 84874,
 85397,
 85517,
 86754,
 86948,
 87160,
 87708,
 87823,
 88099,
 88265,
 88594,
 88773,
 89205,
 89292,
 89369,
 89799,
 90302,
 90436,
 90884,
 91017,
 91249,
 92379,
 92407,
 92800,
 93039,
 93089,
 93203,
 93638,
 94762,
 94937,
 94956,
 95339,
 95599,
 96040,
 96260,
 96686,
 96920,
 97345,
 97539,
 98103,
 98220,
 98438,
 98749,
 98899,
 99096,
 99260,
 99650,
 99928]

In [37]:
len(np.unique(arr))

279

In [33]:
d= d_icd[d_icd['SUBJECT_ID'].isin(arr)]

In [35]:
d.drop_duplicates(subset=['SUBJECT_ID'],inplace = True)

/var/folders/4g/_dt27j054zzfgy29x6plf2900000gn/T/ipykernel_2551/378756918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.drop_duplicates(subset=['SUBJECT_ID'],inplace = True)

In [36]:
d

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
6269      7697         671   126769      5.0     25061
18152    30064        2667   131592      1.0     25013
18354    31863        2830   102862      1.0     25041
30595    22823        2045   162865      1.0     25013
30897    21050        1900   100114      1.0     25053
...        ...         ...      ...      ...       ...
642835  643903       98438   148925      2.0     25013
646810  637112       96920   191721      3.0     25043
647454  639997       97539   178571      8.0     25051
649592  650783       99928   104802      1.0     25013
650036  639101       97345   186013      1.0     25013

[171 rows x 5 columns]

In [38]:
u = np.unique(subject_ID_all)
z = np.unique(arr)

In [40]:
y = np.append(u,z)

In [46]:
all_subjects = np.unique(y)

In [47]:
all_subjects

array([   25,   141,   192, ..., 99444, 99650, 99928])

In [44]:
len((y))

1277

In [48]:
len(np.unique(y))

1106